<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HARMDELIV</title>
    <!-- CEO-need -->
    <meta name="description" content="HarmDeliv - Best Appliance Parts on Amazon">
    <meta name="keywords" content="HarmDeliv, appliance parts, home appliance 
    repair, replacement parts, Amazon appliance parts, kitchen appliance parts, 
    washer parts, dryer parts, refrigerator parts, dishwasher parts, quality 
    appliance parts, affordable appliance parts">
    <link rel="shortcut icon" href="/static/images/logo-icon.png">
    <meta property="og:title" content="HarmDeliv - Best Appliance Parts on Amazon">
    <meta property="og:description" content="Discover high-quality appliance parts at HarmDeliv. Shop now on Amazon for reliable, affordable solutions to keep your household running smoothly.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/static/images/logo-icon.png">
    <meta property="og:site_name" content="#">
    <meta property="og:site_name" content="http://womazing.by">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="output">
    </div>
    <section class="menu">
        <div class="container">
            <div class="menu_wrapper">
                <div class="menu_logo">
                    <a href="" class="menu_logo__link"><img src="/static/images/new-logo.png" style="width: 125px"></a>
                </div>
                <nav class="menu_navigation">
                    <ul class="menu_navigation__list">
                        <li class="menu_navigation__link">
                            <a href="#product" class="menu_navigation__target">Products</a>
                        </li>
                        <li class="menu_navigation__link">
                            <a href="#work" class="menu_navigation__target">Information</a>
                        </li>
                        <li class="menu_navigation__link">
                            <a href="#contact" class="menu_navigation__target">Contact Us</a>
                        </li>
                        <li class="menu_navigation__link">
                            <a href="tel:+1 412 506 3387" class="menu_navigation__target">+1 412 506 3387</a>
                            <a href="mailto:skrim_123@yahoo.com" class="menu_navigation__target">skrim_123@yahoo.com</a>   
                        </li>                   
                    </ul>
                </nav>
                <div class="mobile-menu">
                    <button class="hamburger">
                        <input type="checkbox">
                        <svg viewBox="0 0 32 32">
                            <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
                            <path class="line" d="M7 16 27 16"></path>
                        </svg>
                    </button>
                    <ul class="mobile-menu_list mobmenu">
                        <li class="mobile-menu_item">
                            <a href="#product" class="mobile-menu_item_link">
                                Products
                            </a>
                        </li>
                        <li class="mobile-menu_item">
                            <a href="#work" class="mobile-menu_item_link">
                                Information
                            </a>
                        </li>
                        <li class="mobile-menu_item">
                            <a href="#contact" class="mobile-menu_item_link">
                                Contact Us
                            </a>
                        </li>
                        <li class="mobile-menu_item mobile-menu_link__yellow">
                            <a href="tel:+1 412 506 3387" class="mobile-menu_item_link mobile-number">
                                +1 412 506 3387
                            </a>
                        </li>
                        <li class="mobile-menu_item mobile-menu_link__yellow">
                            <a href="mailto:skrim_123@yahoo.com" class="mobile-menu_item_link mobile-mail">
                                skrim_123@yahoo.com
                            </a>
                        </li>
                        <li class="mobile-menu_item mobile-menu_link__yellow">
                            <a href="#" class="mobile-menu_item_link">
                                About us
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="screen">
        <div class="container">
            <div class="screen_wrapper">
                <h1 class="screen_title">
                    HarmDeliv LLC – your best seller in Amazon!
                </h1>
                <p class="screen_text">
                    Discover a wide selection of high-quality 
                    parts and accessories for your home appliances.
                </p>
                <div class="screen_work">
                    <div class="screen_work__block">
                        <div class="screen_work__block-logo">

                        </div>
                        <div class="screen_work__block-wrapper">
                            <h3 class="screen_work__block-title">Fast Delivery</h3>
                            <p class="screen_work__block-text">We ensure fast delivery for your 
                                convenience. Our team works swiftly to make sure your orders 
                                arrive on time. We understand the importance of speed in the 
                                modern world and do everything possible for your satisfaction.
                            </p>
                        </div> 
                    </div>
                    <div class="screen_work__block">
                        <div class="screen_work__block-logo">

                        </div>
                        <div class="screen_work__block-wrapper">
                            <h3 class="screen_work__block-title">Proven Quality</h3>
                            <p class="screen_work__block-text">
                                We guarantee the proven quality of all our products. 
                                Our items undergo strict quality control to meet the 
                                highest standards. When you buy from us, you can be 
                                confident in the reliability and durability of each 
                                product.
                            </p>
                        </div>
                    </div>
                    <div class="screen_work__block">
                        <div class="screen_work__block-logo">

                        </div>
                        <div class="screen_work__block-wrapper">
                            <h3 class="screen_work__block-title">Prompt Support</h3>
                            <p class="screen_work__block-text">
                                Our prompt support is always ready to assist you. We 
                                value each customer and strive to resolve any issues 
                                as quickly and efficiently as possible. Our support 
                                team works around the clock to ensure your satisfaction.
                            </p>
                        </div>
                    </div>
                </div>
                <a href="#" class="screen_work__block-button button-effect">
                    View in Amazon
                </a>
                <div class="screen_product screen_slider">
                    <div class="swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <div class="screen_product__card">
                                    <div class="screen_product__card-image">
                                        <img src="/static/images/1-slide.jpg">
                                        <div class="screen_product__card-star">5</div>
                                    </div>
                                    <div class="screen_product__card-description">
                                        <h4 class="screen_product__card-title">
                                            Washer Suspension Rod kit Compatible For Samsung
                                        </h4>
                                        <p class="screen_product__card-article">
                                            WA45H7000AW/A2 
                                            WA45H7200AW 
                                            WA45H7200AW/A2 
                                            WA45M7050AW/A4 
                                            WA45N3050AW/A4 
                                            WA48H7400AW/A2 
                                            WA48H7400AW/AA 
                                            WA50F9A6DSW/A2
                                        </p>
                                        <p class="screen_product__card-text">Washing Machine</p>
                                        <p class="screen_product__card-price">54,95$</p>
                                        <a href="amazon" class="screen_product__card-button">
                                            Learn More
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="screen_product__card">
                                    <div class="screen_product__card-image">
                                        <img src="/static/images/2-slide.jpg">
                                        <div class="screen_product__card-star">4</div>
                                    </div>
                                    <div class="screen_product__card-description">
                                        <h4 class="screen_product__card-title">
                                            Lint Filter Replacement For General Electric (GE) & HotPoint Dryers
                                        </h4>
                                        <p class="screen_product__card-article">GTD33EASK0WW 
                                            GTD33GASK0WW 
                                            GTD33PASK0WW 
                                            GTD42EASJ0WW 
                                            GTD42EASJ1WW 
                                            GTD42GASJ0WW 
                                            GTD42GASJ1WW 
                                            GTD42GASJ2WW 
                                        </p>
                                        <p class="screen_product__card-text">Any text</p>
                                        <p class="screen_product__card-price">16,99$</p>
                                        <a href="amazon" class="screen_product__card-button">
                                            Learn More
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="screen_product__card">
                                    <div class="screen_product__card-image">
                                        <img src="/static/images/3-slide.jpg">
                                        <div class="screen_product__card-star">5</div>
                                    </div>
                                    <div class="screen_product__card-description">
                                        <h4 class="screen_product__card-title">
                                            Surface Burner Infinite Switch Replacement For GE
                                        </h4>
                                        <p class="screen_product__card-article">JB625DK3BB 
                                            JBP35DM2WW 
                                            JB250DF5WW 
                                            JBP35CH2CC 
                                            JBP23DR2WW 
                                            JBP28DR2BB 
                                            JBP23SR5SS 
                                            JB250DF4BB 
                                        </p>
                                        <p class="screen_product__card-text">Electric Range</p>
                                        <p class="screen_product__card-price">31,99$</p>
                                        <a href="amazon" class="screen_product__card-button">
                                            Learn More
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="screen_product__card">
                                    <div class="screen_product__card-image">
                                        <img src="/static/images/4-slide.jpg">
                                        <div class="screen_product__card-star">4.1</div>
                                    </div>
                                    <div class="screen_product__card-description">
                                        <h4 class="screen_product__card-title">
                                            Suspension Rod Kit Replacement For Roper
                                        </h4>
                                        <p class="screen_product__card-article">WTW4815EW2 
                                            WTW4816FW0 
                                            WTW4816FW1 
                                            WTW4816FW2 
                                            WTW4850BW0 
                                            WTW4850BW1 
                                            WTW4850BW2 
                                            YWET4027HW0
                                        </p>
                                        <p class="screen_product__card-text">Washer</p>
                                        <p class="screen_product__card-price">33,49$</p>
                                        <a href="amazon" class="screen_product__card-button">
                                            Learn More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="work" id="work">
        <div class="container">
            <h2 class="work_title block-title">Who We Are?</h2>
            <p class="work_text">
                We are a small company specializing 
                in selling spare parts for household 
                appliances.
            </p>
            <p class="work_text">
                We strive to provide our customers 
                with only the best products and high 
                level of service. Our team consists 
                of experienced specialists ready to 
                assist you in finding the necessary 
                parts and answer any questions related 
                to the repair or maintenance of household 
                appliances.
            </p>
            <p class="work_text last_text">
                Whether you need a repair for a specific 
                part or an upgrade for the entire system, 
                we are here to help you make your household 
                appliances like new again. With our wide range 
                of products and personalized approach, we 
                guarantee your satisfaction with every purchase.
            </p>
            <h2 class="work_title-center block-title">
                What do we specifically sell?
            </h2>
            <p class="work_text-center">
                Our full range of products for sale.
            </p>
            <div class="work_card-wrapper">
                <div class="work_card-block anim-items anim-no-hide card-one">
                    <div class="work_card-block_description">
                        <h3 class="work_card-block__title">Dryer</h3>
                        <p class="work_card-block__text">Parts & Accessories</p>
                    </div>
                    <div class="work_card-block__image">
                        <img src="/static/images/ryer.png"class="card-img">
                    </div>
                </div>
                <div class="work_card-block anim-items anim-no-hide card-two">
                    <div class="work_card-block_description">
                        <h3 class="work_card-block__title">Garden Tools</h3>
                        <p class="work_card-block__text">Parts & Accessories</p>
                    </div>
                    <div class="work_card-block__image">
                        <img src="/static/images/lawn-mower.png" class="card-img">
                    </div>
                </div>
                <div class="work_card-block anim-items anim-no-hide card-three">
                    <div class="work_card-block_description">
                        <h3 class="work_card-block__title">Washer</h3>
                        <p class="work_card-block__text">Parts & Accessories</p>
                    </div>
                    <div class="work_card-block__image">
                        <img src="/static/images/washer.png" class="card-img">
                    </div>
                </div>
                <div class="work_card-block anim-items anim-no-hide card-four">
                    <div class="work_card-block_description">
                        <h3 class="work_card-block__title">Gas Range</h3>
                        <p class="work_card-block__text">Parts & Accessories</p>
                    </div>
                    <div class="work_card-block__image">
                        <img src="/static/images/gas.png" class="card-img">
                    </div>
                </div>
                <div class="work_card-block anim-items anim-no-hide card-five">
                    <div class="work_card-block_description">
                        <h3 class="work_card-block__title">Garage Doors</h3>
                        <p class="work_card-block__text">Parts & Accessories</p>
                    </div>
                    <div class="work_card-block__image">
                        <img src="/static/images/roller.png" class="card-img">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="products" id="product">
        <div class="container">
            <h2 class="products_title block-title">
                Best products
            </h2>
            <p class="products_text">
                In our store you will find all the necessary parts for your home appliances.
            </p>
            <div class="products_wrapper">
                <div class="products_card">
                    <div class="products_card__image">
                        <img src="/static/images/1-slide.jpg">
                    </div>
                    <div class="products_card__description">
                        <h4 class="products_card__title">Washer Suspension Rod kit Compatible For Samsung</h4>
                        <div class="products_card__wrapper">
                            <p class="products_card__text">Washing Machine</p>
                            <p class="products_card__price">54,95$</p>
                        </div> 
                    </div>
                </div>
                <div class="products_card">
                    <div class="products_card__image">
                        <img src="/static/images/2-slide.jpg">
                    </div>
                    <div class="products_card__description">
                        <h4 class="products_card__title">Lint Filter Replacement For General Electric (GE) & HotPoint Dryers</h4>
                        <div class="products_card__wrapper">
                            <p class="products_card__text">Dryer Detail</p>
                        <p class="products_card__price">16,99$</p>
                        </div>    
                    </div>
                </div>
                <div class="products_card">
                    <div class="products_card__image">
                        <img src="/static/images/3-slide.jpg">
                    </div>
                    <div class="products_card__description">
                        <h4 class="products_card__title">Surface Burner Infinite Switch Replacement For GE</h4>
                        <div class="products_card__wrapper">
                            <p class="products_card__text">Electric Range</p>
                            <p class="products_card__price">31,99$</p>
                        </div>
                    </div>
                </div>
                <div class="products_card">
                    <div class="products_card__image">
                        <img src="/static/images/4-slide.jpg">
                    </div>
                    <div class="products_card__description">
                        <h4 class="products_card__title">Suspension Rod Kit Replacement For Roper</h4>
                        <div class="products_card__wrapper">
                            <p class="products_card__text">Washer</p>
                            <p class="products_card__price">33,49$</p>
                        </div>
                    </div>
                </div>
                <div class="products_card">
                    <div class="products_card__image">
                        <img src="/static/images/4-slide.jpg">
                    </div>
                    <div class="products_card__description">
                        <h4 class="products_card__title">Suspension Rod Kit Replacement For Roper</h4>
                        <div class="products_card__wrapper">
                            <p class="products_card__text">Washer</p>
                            <p class="products_card__price">33,49$</p>
                        </div>
                    </div>
                </div>
                <div class="products_card">
                    <div class="products_card__image">
                        <img src="/static/images/4-slide.jpg">
                    </div>
                    <div class="products_card__description">
                        <h4 class="products_card__title">Suspension Rod Kit Replacement For Roper</h4>
                        <div class="products_card__wrapper">
                            <p class="products_card__text">Washer</p>
                            <p class="products_card__price">33,49$</p>
                        </div>
                    </div>
                </div>
                <div class="products_card">
                    <div class="products_card__image">
                        <img src="/static/images/4-slide.jpg">
                    </div>
                    <div class="products_card__description">
                        <h4 class="products_card__title">Suspension Rod Kit Replacement For Roper</h4>
                        <div class="products_card__wrapper">
                            <p class="products_card__text">Washer</p>
                            <p class="products_card__price">33,49$</p>
                        </div>
                    </div>
                </div>
                <div class="products_card">
                    <div class="products_card__image">
                        <img src="/static/images/4-slide.jpg">
                    </div>
                    <div class="products_card__description">
                        <h4 class="products_card__title">Suspension Rod Kit Replacement For Roper</h4>
                        <div class="products_card__wrapper">
                            <p class="products_card__text">Washer</p>
                            <p class="products_card__price">33,49$</p>
                        </div>
                    </div>
                </div>
                <div class="products_card">
                    <div class="products_card__image">
                        <img src="/static/images/4-slide.jpg">
                    </div>
                    <div class="products_card__description">
                        <h4 class="products_card__title">Suspension Rod Kit Replacement For Roper</h4>
                        <div class="products_card__wrapper">
                            <p class="products_card__text">Washer</p>
                            <p class="products_card__price">33,49$</p>
                        </div>
                    </div>
                </div>
                <div class="products_card">
                    <div class="products_card__image">
                        <img src="/static/images/2-slide.jpg">
                    </div>
                    <div class="products_card__description">
                        <h4 class="products_card__title">Lint Filter Replacement For General Electric (GE) & HotPoint Dryers</h4>
                        <div class="products_card__wrapper">
                            <p class="products_card__text">Dryer Detail</p>
                            <p class="products_card__price">16,99$</p>
                        </div>
                    </div>
                </div>
                <div class="products_card">
                    <div class="products_card__image">
                        <img src="/static/images/3-slide.jpg">
                    </div>
                    <div class="products_card__description">
                        <h4 class="products_card__title">Surface Burner Infinite Switch Replacement For GE</h4>
                        <div class="products_card__wrapper">
                            <p class="products_card__text">Electric Range</p>
                            <p class="products_card__price">31,99$</p>
                        </div>
                    </div>
                </div>
                <div class="products_card">
                    <div class="products_card__image">
                        <img src="/static/images/1-slide.jpg">
                    </div>
                    <div class="products_card__description">
                        <h4 class="products_card__title">Washer Suspension Rod kit Compatible For Samsung</h4>
                        <div class="products_card__wrapper">
                            <p class="products_card__text">Washing Machine</p>
                            <p class="products_card__price">54,95$</p>
                        </div>
                    </div>
                </div>
                <div class="products_card">
                    <div class="products_card__image">
                        <img src="/static/images/2-slide.jpg">
                    </div>
                    <div class="products_card__description">
                        <h4 class="products_card__title">Lint Filter Replacement For General Electric (GE) & HotPoint Dryers</h4>
                        <div class="products_card__wrapper">
                            <p class="products_card__text">Dryer Detail</p>
                            <p class="products_card__price">16,99$</p>
                        </div>
                    </div>
                </div>
                <div class="products_card">
                    <div class="products_card__image">
                        <img src="/static/images/1-slide.jpg">
                    </div>
                    <div class="products_card__description">
                        <h4 class="products_card__title">Washer Suspension Rod kit Compatible For Samsung</h4>
                        <div class="products_card__wrapper">
                            <p class="products_card__text">Washing Machine</p>
                            <p class="products_card__price">54,95$</p>
                        </div>
                    </div>
                </div>
                <div class="products_card">
                    <div class="products_card__image">
                        <img src="/static/images/4-slide.jpg">
                    </div>
                    <div class="products_card__description">
                        <h4 class="products_card__title">Suspension Rod Kit Replacement For Roper</h4>
                        <div class="products_card__wrapper">
                            <p class="products_card__text">Washer</p>
                            <p class="products_card__price">33,49$</p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="products_card__button button-effect">View in Amazon</a>
        </div>
    </section>
    <section class="feedback">
        <div class="container">
            <h2 class="feedback_title block-title">And many FeedBack's</h2>
            <p class="feedback_text">Our clients appreciate the quality of our work and share 
                their impressions. Here you will find reviews from people who have already 
                used our services and are satisfied with the results. Your opinion is very 
                important to us, and we always strive to meet and exceed your expectations.
            </p>
        </div>
        <div class="feedback-wrapper">
            <div class="my-swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="feedback_card__block">
                            <div class="feedback_card-image">
                                <img src="/static/images/neural-photo-1.jpg">
                            </div>
                            <div class="feedback_card-star">5</div>
                            <div class="feedback_card-description">
                                <h4 class="feedback_card-title">
                                    Great Product!
                                </h4>
                                <p class="feedback_card-text">
                                    I recently purchased this item and am extremely 
                                    satisfied with the quality and performance. It 
                                    exceeded my expectations and the delivery was 
                                    incredibly fast. Highly recommend!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="feedback_card__block">
                            <div class="feedback_card-image">
                                <img src="/static/images/neural-photo-2.jpg">
                            </div>
                            <div class="feedback_card-star">5</div>
                            <div class="feedback_card-description">
                                <h4 class="feedback_card-title">
                                    Excellent Customer Service
                                </h4>
                                <p class="feedback_card-text">
                                    The customer support team was very helpful 
                                    and responsive. They answered all my questions 
                                    promptly and resolved my issue quickly. Fantastic 
                                    service!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="feedback_card__block">
                            <div class="feedback_card-image">
                                <img src="/static/images/neural-photo-3.jpg">
                            </div>
                            <div class="feedback_card-star">5</div>
                            <div class="feedback_card-description">
                                <h4 class="feedback_card-title">
                                    Value for Money
                                </h4>
                                <p class="feedback_card-text">
                                    This product offers excellent value for the price. 
                                    The build quality is impressive and it functions 
                                    perfectly. Definitely a great buy for anyone looking 
                                    for a reliable product.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="feedback_card__block">
                            <div class="feedback_card-image">
                                <img src="/static/images/neural-photo-4.jpg">
                            </div>
                            <div class="feedback_card-star">5</div>
                            <div class="feedback_card-description">
                                <h4 class="feedback_card-title">
                                    Will Buy Again
                                </h4>
                                <p class="feedback_card-text">
                                    I am very happy with my purchase and will 
                                    definitely buy from this seller again. The 
                                    entire process was smooth and hassle-free. 
                                    Great experience overall!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="form" id="contact">
        <div class="container">
            <h2 class="form_title block-title">Contact Us</h2>
            <p class="form_text">Feel free to contact us any time. We will get back to you as soon as we can!</p>
            <div class="form_wrapper">
                <form action="/static/js/ajax.js" id="form">
                    <input type="text" name="username" maxlength="30" placeholder="Name" id="username" class="form-username">
                    <input type="email" name="email" placeholder="E-mail" id="email" class="form-mail">
                    <textarea name="message" rows="auto" id="message" class="form-text" placeholder="Message"></textarea>
                    <input type="submit" value="Send message"id="submit" class="send-button">
                </form>
                <div class="form-info anim-items anim-no-hide">
                    <ul class="form-info_list">
                        <li class="form-info_list__item">
                            <a href="tel:+1 412 506 3387" class="form-info_list__item-link">
                                +1 412 506 3387
                            </a>
                        </li>
                        <li class="form-info_list__item">
                            <a href="mailto:skrim_123@yahoo.com" class="form-info_list__item-link">
                                skrim_123@yahoo.com
                            </a>
                        </li>
                        <li class="form-info_list__item">United States of America, 1621 Central Ave Cheyenne, 82001</li>
                        <li class="form-info_list__item">9:00-18:00</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="footer_wrapper">
                <div class="footer-contact">
                    <a href="#" class="footer_logo">
                        <img src="/static/images/white-logo.png">
                    </a>
                    <h4 class="footer-contact footer-contact_brand">
                        HARMDELIV LLC.
                    </h4>
                    <ul class="footer-info_list">
                        <li class="footer-info_list__item">
                            <a href="#" class="footer-info_list__item-link">
                                +1 412 506 3387
                            </a>
                        </li>
                        <li class="footer-info_list__item">
                            <a href="#" class="footer-info_list__item-link">
                                skrim_123@yahoo.com
                            </a>
                        </li>
                        <li class="footer-info_list__item">United States of America, 1621 Central Ave Cheyenne, 82001</li>
                        <li class="footer-info_list__item">9:00-18:00</li>
                    </ul>
                </div>
                <nav class="footer-menu">
                    <h4 class="footer-menu_title">
                        Menu
                    </h4>
                    <ul class="footer-menu_list">
                        <li class="footer-menu_item">
                            <a href="#" class="footer-menu_link">
                                Products
                            </a>
                        </li>
                        <li class="footer-menu_item">
                            <a href="#" class="footer-menu_link">
                                Information
                            </a>
                        </li>
                        <li class="footer-menu_item">
                            <a href="#" class="footer-menu_link">
                                Contact Us
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="footer-connect">
                    <h4 class="footer-connect_title">Stay Connected</h4>
                    <p class="footer-connect_text">
                        We are in social media.
                    </p>
                    <div class="footer-connect_social">
                        <a href="#" class="footer-connect_social__link" rel="nofollow">

                        </a>
                    </div>
                    <p class="footer-connect_social__disc">
                        Disclaimer: Part Numbers are for identification purposes only. 
                        Items offered for sale are not represented as manufactured by 
                        the company that built the unit unless specified as such.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="/static/js/jquery-3.7.1.min.js"></script>
    <script src="/static/js/swiper-bundle.min.js"></script>
    <script src="/static/js/ajax-form.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>